
 *{
     /* border: red solid 1px;  */
    margin-left: 25px;
} 


body {
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px; 
}

.upperhd {
    /* background-color: #3e3939; */
    /* background-color: rgb(210, 220, 240); */
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 120px;
}

.logo > img{
    height: 40px;
    border-radius: 50%;
border: 4px solid pink;
}

.hdcontacts  p {
    padding: 0px;
    margin: 0px;
    font-size:15px;
    font-weight: bold;
    color: rgb(197, 70, 91);
} 

.hdcontacts {
    display: flex;
    gap: 80px;
}


.hbutton {
    cursor: pointer;
    background-color:palevioletred;
    border-radius: 19px;
    font-size: 15px;
    padding: 7px 14px;
    border: none;
    text-align: center;
    
}
.menu
{
    
     
    background-color: palevioletred;
    width: 1085px;
    height: 30px;
    padding-top: 1rem; 
    margin-top: -1.5rem;
    /* overlapping content */
}
.menu a{
    text-decoration: none;
    font-size:13px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.main
{
    display:flex;

}
.bpar >h1
{
    font-size:30px;
    color:palevioletred ;
}
.bpar >h2{
    color:palevioletred ;
}
.bpar
{
    margin-top: 3rem;
}
.bpar >p{
    font-size:17px;
     font-family: "Montserrat", sans-serif;
}
.bimg >img
{
     width: 400px; 
    margin-right: 30px;
}
 /* .button{
    cursor: pointer;
    background-color:palevioletred;
    border-radius: 19px;
    font-size: 15px;
    padding: 7px 14px;
    border: none;
    text-align: center;
} */
.bbutton
{
    padding-left: 8rem;
}
.bp p{
    /* text-align: center; */
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    margin-left: 280px;
}
.head h3
{
    text-align: center;
    color:palevioletred ;
    margin-top: 50px;  
}
.bp
{
    border-bottom: 2px solid #b30042;
}
.icon
{
color:palevioletred ;
font-size: 60px;
margin-left:270px ;


}
.service
{
    margin-top: 1px;
 margin-left:200px ; 
width: 200px;
height: 150px;
text-align: center; 
border:  2px solid pink;
border-radius: 1rem;

}
.bride
{
background-color: pink;
width: 300px; 
height: 200px;
border-radius: 10px;
padding-left: 10px;
margin-top: 20px;
padding-top:1.5rem ;
}
.bride>h5
{
   font-weight: bolder; 
   margin-top:-0.1rem;
}
.bride>i{
    padding-left: 20px;
}
.course
{
  background-color: pink; 
  width: 300px; 
  height: 200px;
  border-radius: 10px;
  padding-left: 10px;
  margin-top: 20px;
  padding-top:1.5rem ;
}
.course >h5
{
    font-weight: bolder; 
    margin-top:-0.1rem;

}
.course >i{
    padding-left: 20px;

}
.all
{
  background-color: pink;  
  width: 250px;
  height: 250px;
  border-radius: 50%;
  /* padding-top: 1.5rem; */
  margin-right: 40px;
  padding-left: 30px;
  margin-top: 20px;

}
.all>h2{
    font-weight: bolder; 
    margin-bottom: 2.5rem;
}
.about
{
text-align: center;
color:palevioletred ;
text-transform: uppercase;
font-size: small;
}

.face
{
    color: pink;
    font-size: large;
}



.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius:  10px;
    background-color:palevioletred ;
    

  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
margin-right: 25px;

  }
  
  label {
    display: block;
    margin-bottom: 5px;
    margin-right: 2px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 2px solid purple;
    border-radius: 5px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-left: 0.5px;
    background-color:purple;
    color: #fff;
    border: 1px;
    border-radius: 3px;
    cursor: pointer;
    
  }
  
  button:hover {
    background-color: #b30042;
  }
  .footer{
    border-top: 3px solid #b30042; 
  }
 .box>h1
 {
color: pink;
position: relative;
animation: move 10s infinite alternate;
 } 
  