
 *{
    /* border: red solid 1px; */
    margin-left: 25px;
} 


body {
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.upperhd {
    background-color: #3e3939;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 120px;
}

.logo > img{
    height: 40px;
    border-radius: 50%;
}

.hdcontacts  p {
    padding: 0px;
    margin: 0px;
    font-size:15px;
} 

.hdcontacts {
    display: flex;
    gap: 80px;
}


.hbutton {
    cursor: pointer;
    background-color:palevioletred;
    border-radius: 19px;
    font-size: 15px;
    padding: 7px 14px;
    border: none;
    text-align: center;
    font-family:;
}
.menu
{
    
     
    background-color: palevioletred;
    width: 1085px;
    height: 30px;
    padding-top: 1rem;
}
.menu a{
    text-decoration: none;
    font-size:13px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
